{
  "arrowParens": "avoid",
  "printWidth": 70,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
