$bg: #121318;
$fg: #e2e2e9;
$border: #44474f7f;
$surface0: #1e1f25;
$surface1: #282a2f;
$surface2: #33353a;
$overlay0: #44474f;
$overlay1: #c5c6d0;
$overlay2: #e2e2e9;
$subtext0: #c5c6d0;
$subtext1: #e2e2e9;
