$bg:       #17130b;
$fg:       #eae1d4;
$border:   #4d46397F;
$surface0: #231f17;
$surface1: #2e2921;
$surface2: #39342b;
$overlay0: #4d4639;
$overlay1: #d0c5b4;
$overlay2: #eae1d4;
$subtext0: #d0c5b4;
$subtext1: #eae1d4;
