$bg:       #101510;
$fg:       #dfe4dc;
$border:   #4149417F;
$surface0: #1c211c;
$surface1: #262b26;
$surface2: #313631;
$overlay0: #414941;
$overlay1: #c1c9be;
$overlay2: #dfe4dc;
$subtext0: #c1c9be;
$subtext1: #dfe4dc;
